<main class="product">
    <div class="content" >
        <img src="static/eyeshadow-1.jpg" width='270' height="270" alt='眼影盤'title='眼影盤'/>
        <div class="list">(特價中)眼影盤</div>    
    </div>
    <div class="content" >
        <img src="static/eyeshadow-2.jpg" width='270' height="270" alt='眼影盤'title='眼影盤'/>
        <div class="list">(新貨)眼影盤</div> 
    </div>
    <div class="content" >
        <img src="static/eyeshadow-3.jpg" width='270' height="270" alt='眼影盤'title='眼影盤'/>
        <div class="list">(出清價)眼影盤</div>
    </div>
    <div class="content" >
        <img src="static/brush-1.jpg" width='270' height="270" alt='化妝刷具'title='化妝刷具'/>
        <div class="list">化妝刷具</div>
    </div>


    <div class="content" >
        <img src="static/lipstick-1.jpg" width='270' height="270" alt='口紅'title='口紅'/>
        <div class="list">(種類眾多)口紅</div>    
    </div>
    <div class="content" >
        <img src="static/lipstick-2.jpg" width='270' height="270" alt='口紅'title='口紅'/>
        <div class="list">(新到貨)口紅</div> 
    </div>
    <div class="content" >
        <img src="static/glitter-powder-1.jpg" width='270' height="270" alt='散粉'title='散粉'/>
        <div class="list">散粉定妝</div>
    </div>
    <div class="content" >
        <img src="static/perfume.jpg" width='270' height="270" alt='清新香水'title='清新香水'/>
        <div class="list">清新香水</div>
    </div>    
</main>